body {
    font-size: 2vw;
    background-color:rgb(8, 1, 46);
  }
  .v56_2 {
    width: 65%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(7, 0, 30) 0%, rgba(0,9,100,1) 100%);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 16%;
    overflow: hidden;
  }
  .v56_3 {
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7%;
    left: 45%;
    font-family: Inter;
    font-weight: Bold;
    font-size: 3.3vw;
    opacity: 1;
    text-align: left;
  }
  .user{
    font-size: 2.5vw;
    width:23.5%;
    height: 11%;
    background: rgba(15,20,65,1);
    opacity: 1;
    position: absolute;
    top: 29%;
    left: 38%;
    z-index: 2;
    background: -webkit-linear-gradient(#F3F3F5,#352384);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vw;
  }
  .v56_8 {
    width:24%;
    height: 11.25%;
    background: rgba(15,20,65,1);
    opacity: 1;
    position: absolute;
    top: 29%;
    left: 38%;
    border: 1px solid rgba(255,255,255,1);
  }
  .pass{
    font-size: 2.5vw;
    width:23.5%;
    height: 11%;
    background: rgba(15,20,65,1);
    opacity: 1;
    position: absolute;
    top: 51%;
    left: 38%;
    z-index: 2;
    background: -webkit-linear-gradient(#F3F3F5,#352384);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .v56_11 {
    width:24%;
    height: 11.25%;
    background: rgba(15,20,65,1);
    opacity: 1;
    position: absolute;
    top: 51%;
    left: 38%;
    border: 1px solid rgba(255,255,255,1);
    overflow: hidden;
  }
  .bb{
    background: -webkit-linear-gradient(#F3F3F5,#352384);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vw;
    cursor: pointer;
    width: 16%;
    height: 17%;
    opacity: 1;
    position: absolute;
    top: 69.5%;
    left: 41%;
    z-index: 2;
    border-color:rgba(28,28,28,0)
  }
  .v56_10 {
    width: 15%;
    height: 17%;
    background: rgba(15,20,65,1);
    opacity: 1;
    position: absolute;
    top: 70%;
    left: 41.5%;
    border: 1px solid rgba(255,255,255,1);
    overflow: hidden;
  }
  ::placeholder{
    background: -webkit-linear-gradient(#F3F3F5,#352384);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    padding-left:2%;
  }